@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #fcf9f4;
	display: flex;
	font-family: "Open Sans", sans-serif;
	flex-direction: column;
	gap: 48px;
	height: 100vh;
}
.header {
	margin: 0 128px;
	padding: 1rem 0 1rem 0.5rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 16px;
}
.header_navbar ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.header_navbar ul li a {
	color: #000000;
	position: relative;
}
.header_navbar ul li a::after {
	content: "";
	position: absolute;
	bottom: -3px; /* ajuste a altura da linha conforme necessário */
	left: 0;
	width: 0;
	height: 2px;
	background-color: #69ebb3; /* cor da linha */
	transition: width 0.3s; /* animação de transição da largura da linha */
}

.header_navbar ul li a:hover::after {
	width: 100%; /* largura da linha ao passar o mouse */
}
main {
	margin: 0 128px;
	padding: 0 0 1rem 0.5rem;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner {
	position: absolute;
	top: 0;
	right: 0;
	width: 65%; /* 50% da largura da tela */
	height: 100%; /* 100% da altura da tela */
	overflow: hidden;
	display: flex;
	align-items: end;

	justify-content: end;
}

.banner img {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	object-fit: cover;
	z-index: -100;
}
.CTA {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.CTA h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 210px;
	font-weight: bold;
	line-height: 165px;
	color: #ff8c5b;
	text-shadow: 3px 6px #000000;
}

.CTA h1 span {
	color: #7fd1ae;
}

.CTA a {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	background-color: #69ebb3;
	padding: 1rem 1.5rem;
	font-size: 12px;
	border-radius: 36px;
	border: 1px solid black;

	gap: 10px;
}
.CTA a:hover {
	cursor: pointer;
}
.CTA a:visited {
	text-decoration: none;
	color: #000000;
}
.container_button {
	padding: 0 2px 5px 0;
	background-color: #000000;
	width: 235px;
	border-radius: 36px;
}
.click {
	margin-bottom: 3px;
	padding: 2px 0 0 5px;
	background-color: transparent;
}
.footer_hero {
	height: 9px;
	bottom: 0;
}
.footer_hero nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;

	justify-content: center;
}

.ico {
	width: 24px;
}
