.Meus-Produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
	background-color: #ffff;
	box-shadow: 3px 6px #ff8c5b;
	border-radius: 20px;
	padding: 2rem;
}
.adicionar_produto {
	background-color: #ffff;
	box-shadow: 3px 6px #9747ff;
	border-radius: 20px;
	padding: 2rem;
}

.card_produto {
	border: 1px solid black;
	border-radius: 10px;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.card_produto_preco_div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#picture__input {
	display: none;
}

.picture {
	width: 400px;
	aspect-ratio: 16/9;
	background: #ddd;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #aaa;
	border: 2px dashed currentcolor;
	cursor: pointer;
	font-family: sans-serif;
	transition: color 300ms ease-in-out, background 300ms ease-in-out;
	outline: none;
	overflow: hidden;
}

.picture:hover {
	color: #777;
	background: #ccc;
}

.picture:active {
	border-color: turquoise;
	color: turquoise;
	background: #eee;
}

.picture:focus {
	color: #777;
	background: #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
	max-width: 100%;
}
