@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
	background-color: #fcf9f4;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 52px;
    height: 100vh;
}
.header {
	margin: 0 128px;
	padding: 1rem 0 1rem 0.5rem;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
}
.header_navbar ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
main,
footer {
	margin: 0 128px;
	padding: 0 0 1rem 0.5rem;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.banner {
	position: absolute;
	top: 0;
	right: 0;
	width: 65%; /* 50% da largura da tela */
	height: 100%; /* 100% da altura da tela */
	overflow: hidden;
	display: flex;
	align-items: end;
	
	justify-content: end;
	
}

.banner img {
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100%;
	object-fit: cover;
}
.CTA h1 {
	font-family: "Josefin Sans", sans-serif;
	font-size: 210px;
	font-weight: bold;
	line-height: 165px;
	color: #ff8c5b;
	text-shadow: 3px 6px #000000;
}

.CTA h1 span {
	color: #7fd1ae;
}

.CTA button {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	background-color: #69ebb3;
	padding: 1rem 1.5rem;
	font-size: 12px;
	border-radius: 36px;
	border: 1px solid black;
	box-shadow: 3px 6px black;
	gap: 10px;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.ico {
	width: 24px;
}
